body {

 

    text-align: center;
background-color: black;
   color: white;

 

   

 

}

 

 

 

.primeiraClasse {

 

    background-color: lightskyblue;

    padding-bottom: 10px;

    box-shadow: 10px 10px 8px 8px gray;

    font-family: Arial, Helvetica, sans-serif;

    ;

 

}

 
.subclasse {
    font-family: Arial, Helvetica, sans-serif;
}
 

 

 

 

.classeDois {

 

    background-color:salmon;

    padding-bottom: 10px;

    box-shadow: 10px 10px 8px 0 gray;

    font-family: 'Times New Roman', Times, serif;

 

}

.subclasse2 {
    font-family: 'Times New Roman', Times, serif;
}

 

 

.classeTres {

 

    background-color: lightcoral;

    padding: 10px;

    box-shadow: 10px 10px 8px 0 gray;

    font-family:'Press Start 2P', display;

 

}

 
.subclasse3 {
    font-family:'Press Start 2P', display;
}

 

 

.classeQuatro {

 

    background-color:forestgreen;

    padding-bottom: 10px;

    box-shadow: 10px 10px 8px 0 gray;

    font-family:'Sedgwick Ave Display', cursive;

 

}

.subclasse4 {
    font-family:'Sedgwick Ave Display', cursive;
}


 

 

.classeCinco

 

 {

 

    background-color: lightseagreen;

    padding-bottom: 10px;

    box-shadow: 10px 10px 8px 0 gray;

    font-family: 'Nova Mono', monospace;

}


.subclasse5 {
    font-family: 'Nova Mono', monospace;
}
